# Frontend local overrides. Optional.
# Uncomment only the values you want to override from env.sh.

# ENABLE_REPORT_ISSUE=true
# I18N_FALLBACK_LANGUAGE=en
# I18N_SUPPORTED_LANGUAGES=en|en-US|es|es-MX|it|de

# ALLOW_BACKGROUND_EFFECTS=true
# ALLOW_CAMERA_CONTROL=true
# ALLOW_VIDEO_ON_JOIN=true
# DEFAULT_RESOLUTION=1280x720
# PUBLISHER_MAX_RESOLUTION=1920x1080
# NOTIFICATION_DURATION_MS=4000
# MIN_CUSTOM_VIDEO_BITRATE_BPS=5000
# MAX_CUSTOM_VIDEO_BITRATE_BPS=10000000
# SUPPORTED_FRAME_RATES=30|15|7|1

# ALLOW_ADVANCED_NOISE_SUPPRESSION=true
# ALLOW_AUDIO_ON_JOIN=true
# ALLOW_MICROPHONE_CONTROL=true

# MEETING_ROOM_ALLOW_ADVANCED_SETTINGS=true
# WAITING_ROOM_ALLOW_ADVANCED_SETTINGS=true
# WAITING_ROOM_ALLOW_DEVICE_SELECTION=true
# MEETING_ROOM_ALLOW_DEVICE_SELECTION=true

# ALLOW_ARCHIVING=true
# ALLOW_CAPTIONS=true
# ALLOW_CHAT=true
# ALLOW_EMOJIS=true
# ALLOW_SCREEN_SHARE=true

# DEFAULT_LAYOUT_MODE=active-speaker
# SHOW_PARTICIPANT_LIST=true
# SHOW_VIDEO_STATS=false
# BYPASS_WAITING_ROOM=false

# API_URL=http://localhost:3345
# TUNNEL_DOMAIN=
# MODE=development
# VONAGE_VIDEO_HOST=
# ARCHIVES_REFRESH_INTERVAL_MS=5000